*
!.local/bin/sdlpal
!.config/i3/
!.config/fontconfig/fonts.conf
!.config/Code/User/settings.json
!.config/compton.conf
!.config/redshift/redshift.conf
!.xscreensaver
!.gitignore
!.Xresources
!.Xmodmap
!.xprofile
!.zshrc
!.tmux.conf
