.*
文档
下载
!.config/
.config/google-chrome/
.config/Rambox/
.config/Code/
.config/fcitx/
.config/gtk-3.0/
.config/kingsoft/
.config/Kingsoft/
.config/SogouPY*
.config/sogou*
!.gitignore
!.Xresources
!.xprofile
