Rxvt.menu:/etc/X11/rxvt.menu
Rxvt.preeditType:Root
Rxvt.transparency:255
URxvt.depth:32

! Fonts
! URxvt.allow_bold: false
Xft.dpi:96
URxvt.font:xft:cousine:size=12,xft:Microsoft YaHei:size=12
URxvt.boldFont:xft:cousine:Bold:size=12,xft:Microsoft YaHei:Bold:size=12
URxvt.multichar_encoding: utf-8
URxvt.imLocale: zh_CN.UTF-8

! Fix font space
URxvt*letterSpace: -1

! urxvt color set
URxvt.background:Black
URxvt.foreground:Green
URxvt.colorBD:Gray95
URxvt.colorUL:Green
URxvt.color1:Red2
URxvt.color4:RoyalBlue
URxvt.color5:Magenta2
URxvt.color8:Gray50
URxvt.color10:Green2
URxvt.color12:DodgerBlue
URxvt.color14:Cyan2
URxvt.color15:Gray95

! bg transparent set
URxvt.inheritPixmap: True
URxvt.tintCddolor: Black
URxvt.shading: 50

! Tab set
!URxvt.perl-ext-common: default,tabbed
!URxvt.tabbed.tab-fg: 12
!URxvt.tabbed.tab-bg: 0
!URxvt.tabbed.tabbar-fg: 4

!!URL操作
URxvt.urlLauncher:google-chrome-stable
URxvt.matcher.button:1
Urxvt.perl-ext-common: default,matcher

URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain

URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True

! Cursor
URxvt.cursorBlink: True
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false
URxvt.SaveLines:3000

URxvt.borderless: False

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #393939, #393939, #268bd2
!rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
!rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
!rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c
rofi.theme: dmenu